<div class="container">
  <div class="row">
    <div class="col-xs-8">
      <div class="col-xs-8">
        <h2 class="section-headline" style="position:relative; z-index: 3"><span>My Account</span></h2>
      </div>
    </div>

    <div class="col-xs-4">
      <img src="../../../assets/image/logo.jpeg" class="img-responsive right" style="width:320px; height:370px; margin-top: 5px; margin-bottom: 5px;  position:relative; z-index: 2;" />
    </div>
    <img src="../../../assets/image/book_shelf.jpg" class="img-responsive right" style="width: 90%; height: 40%; position: absolute; margin-top: 20px; z-index: 1;" />
  </div>

  <hr style="position: absolute; width:88%; height:6px; background-color: white; z-index:2; margin-top: -400px;" />

  <div class="row" style="margin-top: 50px">
    <div class="col-xs-3">

    </div>
    <div class="col-xs-6">
      <div class="panel-group">
        <div class="panel panel-default panel-faq" style="border: none;">

          <div class="panel-body" style="background-color: #CCB89C; margin-top:20px;">
            <mat-tab-group>
              <mat-tab label="Login">
                <div style="margin-top:20px;">

                  <div *ngIf="loginError" style="color:red;">
                    Incorrect username or password.
                  </div>

                  <form (ngSubmit)="onLogin()">
                    <div class="form-group">
                      <label for="username"> Username *</label>
                      <input type="text" class="form-control" id="username" name="username" [(ngModel)]="credential.username"
                        required="required" autofocus="autofocus">
                      <p style="color: black;">Enter your username</p>
                    </div>

                    <div class="form-group">
                      <label for="password"> Password *</label>
                      <input type="password" class="form-control" id="password" name="password" [(ngModel)]="credential.password"
                        required="required" autofocus="autofocus">
                      <p style="color: black;">Enter your password</p>
                    </div>

                    <button mat-raised-button type="submit" class="mat-primary">Log In</button>
                  </form>
                </div>
              </mat-tab>

              <mat-tab label="New Account">
                <div style="margin-top: 20px;">
                  <div class="alert alert-info" *ngIf="emailSent">
                    An email has been sent to the emailAddress you just registered. Please validate your email address
                    and
                    update your password info. </div>
                  <form (ngSubmit)="onNewAccount()">

                    <div class="form-group">
                      <label for="newUsername"> Username * </label>
                      &nbsp;,<span *ngIf="usernameExists" style="color:red">Username already exists. Choose another
                        one.</span>
                      <input type="text" class="form-control" id="newUsername" name="username" [(ngModel)]="username"
                        required="required">
                      <p style="color: black;">Enter your username</p>
                    </div>

                    <div class="form-group">
                      <label for="email"> Email Address * </label>
                      &nbsp;,<span *ngIf="emailExists" style="color:red">Email already exists. Choose a different one.</span>
                      <input type="email" class="form-control" id="email" name="email" [(ngModel)]="email"
                        required="required">
                      <p style="color: black;">A valid e-mail address. All e-mails from the system will be sent to this
                        address.</p>
                    </div>

                    <button mat-raised-button type="submit" class="mat-primary">Create new account</button>
                  </form>

                </div>
              </mat-tab>

              <mat-tab label="Forgot Password">
                <div style="margin-top: 20px;">
                  <div class="alert alert-info" *ngIf="emailNotExists">
                    The E-mail doesn't exist. 
                  </div>

                  <div class="alert alert-success" *ngIf="forgetPasswordEmailSent">
                    Email Sent to address.
                  </div>

                  <form (ngSubmit)="onForgetPassword()">

                    <div class="form-group">
                      <label for="recoverEmail"> Email Address * </label>
                     
                      <input type="email" class="form-control" id="recoverEmail" name="recoverEmail" [(ngModel)]="recoverEmail"
                        required="required">
                      <p style="color: black;">Enter your registered email address </p>
                    </div>

                    <button mat-raised-button type="submit" class="mat-primary">Submit</button>
                  </form>
                </div>
              </mat-tab>
            </mat-tab-group>
          </div>

        </div>
      </div>
    </div>
    <div class="col-xs-3">

    </div>
  </div>

</div>